* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Quicksand;
    font-weight: 500;
}

body {
    height: 100vh;
    background: linear-gradient(#5a495f, #191010);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* create stars */
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(2px 2px at 20% 30%, #ffffff, transparent),
        radial-gradient(2px 2px at 50% 70%, #ffffff, transparent),
        radial-gradient(2px 2px at 80% 20%, #ffffff, transparent),
        radial-gradient(2px 2px at 10% 80%, #ffffff, transparent),
        radial-gradient(2px 2px at 60% 50%, #ffffff, transparent);
    background-size: 200px 200px;
    opacity: 0.8;
    pointer-events: none;
    z-index: -1;
    animation: twinkle 2s infinite alternate ease-in-out;
}


/* star flicker */
@keyframes twinkle {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.8;
    }
}

.window {
    display: flex;
    flex-direction: column;
    border: solid 2px #000000;
    width: 45vw;
    height: 75vh;
    transform: translateY(-60px);
    box-shadow: 8px 8px, 0px 0px 300px 30px #94779d;
}

.artbox {
    flex: 30;
    display: flex;
    border-bottom: solid 2px #000000;
    overflow: hidden;
    align-items: center;
}

.artbox img {
    width: 100%;
    object-fit: cover;
    transform: translateY(35px);
}

.nav {
    flex: 11;
    display: flex;
    background: #301e2e;
    border-bottom: solid 2px #000000;
    justify-content: center;
    gap: 5vw;
}

.nav a {
    color: #eac9f4;
    font-size: 3em;
    text-decoration: none;
    text-align: center;
}

.content {
    flex: 100;
    display: flex;
    flex-direction: column;
    background: #51374f;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

#intro {
    font-size: 2em;
    padding-top: 20px;
    color: #b09ab7;
}

#asciiart {
    font-family: monospace;
    font-size: 1.3em;
    font-weight: 700;
}

#asciiart span {
    font-family: monospace;
}

#about {
    text-align: center;
    font-size: 1.5em;
    color: #b09ab7;
}

.feet {
    flex: 8;
    border-top: solid 2px #000000;
    background: #5B3E77;
}

.feet p {
    color: #eac9f4;
    text-align: center;
    padding-top: 9px;
}

/* below is new css for songs.html */

#lyrics {
    font-size: 1.5em;
    overflow: scroll;
    color: #b09ab7;
}

#song {
    padding-top: 20px;
}